<div class="main-container">
    <mat-card class="main-card-width">
        <mat-card-header>
            <mat-card-title>Create Account</mat-card-title>
            <mat-card-subtitle>Form to create account</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createAccountForm">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Account Type</mat-label>
                            <mat-select formControlName="accountType">
                                <mat-option *ngFor="let acc of accountTypes" [value]="acc">
                                    {{ acc }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button (click)="submit()" color="primary" [disabled]="!createAccountForm.valid">Submit</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="isSubmitting" mode="indeterminate" color="primary"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>